@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }

  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    /* display: flex; */
    gap: 24px;
  }

  .team-item {
    width: calc((100%-72px) / 4);
  }
}
